html, body {
    font-size: 24px;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
}

input, button {
    padding: 15px;
    margin: 10px 0;
    width: 100%;
    font-size: 1.2rem;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.tarima-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tarima-btn {
    width: 45%;
    margin-bottom: 10px;
    padding: 15px;
    font-size: 1.2rem;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    border: none;
    transition: all 0.2s ease-in-out;
}

/* Colores para los botones */
.tarima-btn[data-value="T-1"] { background-color: #007bff; }
.tarima-btn[data-value="T-2"] { background-color: #28a745; }
.tarima-btn[data-value="T-3"] { background-color: #ffc107; }
.tarima-btn[data-value="T-4"] { background-color: #dc3545; }
.tarima-btn[data-value="T-5"] { background-color: #17a2b8; }
.tarima-btn[data-value="T-6"] { background-color: #6f42c1; }
.tarima-btn[data-value="T-7"] { background-color: #fd7e14; }
.tarima-btn[data-value="T-8"] { background-color: #20c997; }
.tarima-btn[data-value="T-9"] { background-color: #e83e8c; }
.tarima-btn[data-value="T-10"] { background-color: #343a40; }

/* Botón seleccionado */
.tarima-btn.selected {
    opacity: 0.9;
    transform: scale(1.10);
    border: 3px solid black;
}

.error-message {
    color: red;
    font-size: 1rem;
    margin-top: 20px;
}

/* Estilo para el texto de éxito */
.success-box {
    background-color: #e9f7e9;
    padding: 20px;
    border: 2px solid #28a745;
    border-radius: 10px;
    font-size: 1.2rem;
    color: #155724;
    max-width: 400px;
    width: 80%; /* Cambiado a 80% */
    margin: 0 auto; /* Centrar la caja */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.success-box h3 {
    color: #155724;
    margin-bottom: 10px;
}

.success-box p {
    margin: 0;
}

.main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.check-container {
    width: 6.25rem;
    height: 7.5rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
}

.check-container .check-background {
    width: 100%;
    height: calc(100% - 1.25rem);
    background: linear-gradient(to bottom right, #5de593, #41d67c);
    box-shadow: 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset, 0px 0px 0px 65px rgba(255, 255, 255, 0.25) inset;
    transform: scale(0.84);
    border-radius: 50%;
    animation: animateContainer 0.75s ease-out forwards 0.75s;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.check-container .check-background svg {
    width: 65%;
    transform: translateY(0.25rem);
    stroke-dasharray: 80;
    stroke-dashoffset: 80;
    animation: animateCheck 0.35s forwards 1.25s ease-out;
}

.check-container .check-shadow {
    bottom: calc(-15% - 5px);
    left: 0;
    border-radius: 50%;
    background: radial-gradient(closest-side, #49da83, transparent);
    animation: animateShadow 0.75s ease-out forwards 0.75s;
}

@keyframes animateContainer {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    25% {
        opacity: 1;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes animateCheck {
    from {
        stroke-dashoffset: 80;
    }
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes animateShadow {
    0% {
        opacity: 0;
        width: 100%;
        height: 15%;
    }
    100% {
        width: 85%;
        height: 15%;
        opacity: 0.25;
    }
}
